<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>GEO APP</title>

    <link th:rel="stylesheet" th:href="@{webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>
</head>
<body>

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
    <div class="container">
        <a class="navbar-brand" href="/">Geo APP</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/report">Reportes
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container">
    <div class="row">
        <div class="col-sm-10 mt-5">
            <form method="post" th:object="${input}">


                <div class="form-group row">
                    <label for="ipaddress" class="col-sm-4 col-form-label">IP Address</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="ipaddress" data-inputmask="'alias': 'ip'"
                               autocomplete="off" th:field="*{ipAddress}"/>
                    </div>
                </div>

                <button class="btn btn-primary" type="submit">Submit form</button>
            </form>

            <!--<br/>
            <br/>

            <div class="container">
                <div class="row">
                    <div class="col-sm-12 mt-5">

                        <a th:href="@{/max}" class="btn btn-secondary btn-lg" tabindex="-1" role="button" aria-disabled="true">Mayor Distancia</a>
                        <a th:href="@{/min}"class="btn btn-secondary btn-lg" tabindex="-1" role="button" aria-disabled="true">Menor Distancia</a>
                        <a th:href="@{/avg}" class="btn btn-secondary btn-lg" tabindex="-1" role="button" aria-disabled="true">Promedio de distancia</a>

                    </div>
                </div>
            </div>-->
        </div>
    </div>
</div>

<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
<script th:src="@{assets/inputmask/jquery.inputmask.min.js}"></script>

<script>
    $(":input").inputmask();
</script>

</body>
</html>